
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


/* Utility classes */
.dropdown-option {
  padding: 5px 10px ;
  display: flex;
  align-items: center ;
  gap: 4px ;
  color: #155252 !important;
  font-family: Lato ;
  font-size: 12px ;
  font-style: normal ;
  font-weight: 500 ;
  line-height: 1 !important;
}

.dropdown-option > span:first-of-type {
  height: 1em !important;
  flex-grow: 1;
  display: inline-block;
}

.dropdown-option > img {
  height: 1em;
  width: 1em;
  display: inline-block;
}

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */

.custom-select-for-wishlist > div{
	position: relative;
}
.wishlist-dropdown-options{
    width: 100.5%;
}
.custom-select-for-wishlist {
	display: flex;
    justify-content: center;
    align-items: center;
    //gap: 0.125rem;
border: 1px solid #155252;
	  border-radius: 10px;

	margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 100%;
	flex-direction: column;
}

a.remove_from_wishlist:before{
    border: none !important;
}
.selected-options-container{
	/* display: flex;
justify-content: center;
align-items: center;
gap: 3.75rem;
	*/
	
	display: inline-block;
    float: left;
	flex: 1;
}
.custom-select-for-wishlist .selected-option{
display: flex;
justify-content: flex-start;
align-items: center;
gap: 0.25rem;

}
.custom-select-for-wishlist .selected-option img{
width: 0.75rem;
height: 0.75rem  !important;
}
.wishlist-select-dropdown-button .selected-wiishlist-name{
	color: #155252;

	leading-trim: both;

	text-edge: cap;
	font-family: Lato;
	font-size: 0.625rem;
	font-style: normal;
	font-weight: 500;
	line-height: 120%; /* 0.75rem */

}
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */

.wishlist-select-dropdown-list {
  border-radius: 10px;
  border: 1px solid #155252;
  background: #fff;
  position: absolute;
  margin: 0;
  padding: 0;
  top: 0px;
  left: 0px;
  opacity: 1;
  z-index: 10;
  width: 100%;
  display: none;
  list-style: none;
}

.wishlist-select-dropdown-list > li {
  color: #aaa;

}

.wishlist-select-dropdown-list.expanded {
  display: block;
  height: fit-content;
  overflow: hidden;
}

.wishlist-select-dropdown-list.underneath {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-top: none;
}

.wishlist-select-dropdown-list.expanded > li {
  animation: grow-dropdown-content 200ms linear 0s 1 normal forwards;
  overflow: hidden;
}

.wishlist-select-dropdown-list.expanded.closing {
  height: 0;
  animation: height-to-zero 300ms linear 0s 1 normal forwards;
}

@keyframes height-to-zero {
  to {
    height: 0;
  }

  from {
    height: calc(1px * var(--element-height));
  }
}

@keyframes grow-dropdown-content {
  0% {
    height: 0;
    padding: 0 10px;
  }

  10% {
    height: 0;
  }

  20% {
    height: 0;
  }

  50% {
    height: 0.55em;
  }

  90% {
    height: 1em;
  }

  100% {
    height: unset;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

/*  */
/*  */
/*  */

/* ******************************************* */
/* Dropdown button */
/* ******************************************* */

.wishlist-select-dropdown-button {
  /*background-color: white;
  border-radius: 10px;
  border: 1px solid #155252;
  cursor: pointer;
  width: 100% !important;
	
		padding: 5px 10px ;
  display: flex;
  align-items: center ;
  gap: 4px ;
  color: #155252 !important;
  font-family: Lato ;
  font-size: 12px ;
  font-style: normal ;
  font-weight: 500 ;
  line-height: 1 !important;
	*/

	display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0.375rem 0.5rem;

}

.custom-select-for-wishlist.underneath {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom: none;
}

.wishlist-select-dropdown-button .dropdown-caret {
  transition: transform 200ms ease-in-out;
  transform: rotate(180deg);
	width: 0.5625rem;
height: 0.6875rem;
float: right;
}

.custom-select-for-wishlist.underneath .dropdown-caret {
  transform: rotate(0deg);
}

/*  */
/*  */
/*  */

.wishlist-popup-total-price-container{
    width: 100%;
    height: 20px;
    justify-content: flex-start;
    align-items: flex-start;
    /* gap: 270px; */
    display: inline-flex;
}
.wishlist-popup-total-price-container .wishlist-popup-total-heading{
	color: #1B2B2B;

	font-family: Lato;
	font-size: 1.25rem;
	font-style: normal;
	font-weight: 700;
	line-height: 100%; /* 1.25rem */
    flex: 1;
}

.wishlist-popup-total-price-container .wishlist-popup-total-amount{
	text-align: right;
    color: #C5283D;
    font-size: 20px;
    font-family: Lato;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.20px;
    word-wrap: break-word;
}

.wishlist-dropdown-options .wishlist-select-dropdown-list li:hover{
	background-color: unset;
}